@import "./mixins.styl";

/*
语法的不同：
scss 是 @include fn(a)
stylus 是 fn(a)
*/

.blue-btn {
  btn($blue)
}

.light-blue-btn {
  btn($light-blue)
}

.red-btn {
  btn($red)
}

.pink-btn {
  btn($pink)
}

.green-btn {
  btn($green)
}

.tiffany-btn {
  btn($tiffany)
}

.yellow-btn {
  btn($yellow)
}